
*.swp
*.swo
*.swn
*.swm
node_modules/
config/
build/
scripts/*.sql
scripts/*.dump
mock_data/
import_data/
testing_data/
import/
export/
.env
*.sqlite
*.DS_Store
prisma/uaa.csv
prisma/app.sqlite-shm
prisma/app.sqlite-wal
.env.dev
.env.test
